<div class="row wrapper">
  <div class="col-lg-6 left-container">
    <div class="row top-left">
      <!-- <button >Load Metamodel</button> -->
      <input type="file" accept="application/pdf">
      <label for="" class="load-button">Load Metamodel</label>
    </div>
    <div class="row bottom-left">
      <div>
        <ngx-extended-pdf-viewer [src]="'assets/example.pdf'" [useBrowserLocale]="true"></ngx-extended-pdf-viewer>
      </div>
    </div>
  </div>
  <div class="col-lg-6 right-container">werwer</div>
</div>
